/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
.DS_Store
notes.txt
out.txt
/app/Xsd/Collection
/app/Xsd/Dc
/app/Xsd/Entity
/app/Xsd/Mets
/app/Xsd/Mods
/app/Xsd/Premis
/app/Xsd/Test
/app/Xsd/Xsi
npm-debug.log
