/* ***** Common ***** */
.mt-025 { margin-top: 0.25rem; }
.mt-05 { margin-top: 0.5rem; }
.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 2rem; }
.mt-3 { margin-top: 3rem; }

.mb-025 { margin-bottom: 0.25rem; }
.mb-05 { margin-bottom: 0.5rem; }
.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-3 { margin-bottom: 3rem; }

.flex { display: flex; flex-direction: column; }
.flexRow { display: flex; flex-direction: row; }
.flexAlignCenter { align-items: center; }
.flexJustifyCenter { justify-content: center; }
.flexBothCenter { align-items: center; justify-content: center; }
.flex1 { flex: 1; }
.flex2 { flex: 2; }
.flex3 { flex: 3; }
.flex4 { flex: 4; }
.flex5 { flex: 5; }
.flex6 { flex: 6; }
.flex7 { flex: 7; }
.flex8 { flex: 8; }
.flex9 { flex: 9; }
.flex10 { flex: 10; }
.flex11 { flex: 11; }
.flex12 { flex: 12; }

.textAlignRight { text-align: right; }

.displayNone { display: none; }

.default {
    font-size: 14px;
    font-weight: 500;
    color: #303030;
}
a.default:hover {
    text-decoration: underline;
    color: #303030;
}

/* Index */
.content {
    min-height: 400px;
}

/* ***** Language select ***** */
#langSelect {
    position: absolute;
    right: .9375rem;
    top: 3px;
    width: 150px;
}
#langSelect select {
    font-size: 13px;
    line-height: 20px;
    height: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
}

/* ***** Search ***** */

/* Search box */
.searchFormContainer {
    padding: 5px 20px 10px 20px;

    border-radius: 0px 0px 10px 10px;
    border-bottom: #668833 solid 2px;
    border-left: #668833 solid 1px;
    border-right: #668833 solid 1px;

    background: -moz-linear-gradient(top, rgba(102,136,51,0.2) 0%, rgba(109,0,25,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(102,136,51,0.2) 0%,rgba(109,0,25,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(102,136,51,0.2) 0%,rgba(109,0,25,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#338e130b', endColorstr='#006d0019',GradientType=0 ); /* IE6-9 */
}

.searchFormContainer > .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchFormContainer form { position: relative; }
.searchFormContainer input.query { }
.searchFormContainer input.submit {
    height: 39px;
}

/* Advanced search */
.advancedSearch {
    margin-top: 10px;
    margin-bottom: 10px;
}
.advancedSearch h4 {
    margin-top: 10px;
    font-size: 19px;
}

.advancedSearch select.fieldName {
    width: 30%;
}
.advancedSearch input.fieldValue {

}
.advancedSearch select.operator {
    width: 10%;
}

.advancedSearch .submit {
    background-color: #668833;
    color: white;
    padding: 10px 20px;
}

.advancedSearch .addInputButton {
    background-color: #668833;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    margin-right: 5px;
    /*
    width: 40px;
    height: 40px;
    border-radius: 20px;
    */
}

/* Collection search */
.collectionSearchIndicatorWrap {
    margin-top: -10px;
}

input + #collectionSearchIndicator {
    margin: 0px 5px;
    line-height: 14px;
    font-size: 12px;
    padding-left: 2px;
    text-align: center;
    cursor: pointer;
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    height: 39px;
    width: 120px;
    border-radius: 2px;
    border: silver solid 1px;
    background: rgba(102, 136, 51, 0.2);
    */
}
input:checked + #collectionSearchIndicator {
    /* border: white solid 1px; */
    /*
    background: #668833;
    color: white;
    */
}

/* Search results */
.searchResults {
    margin-top: 15px;
}
.searchResults a {
    color: black;
}
.searchResult a {
    display: flex;
    flex-direction: row;
    padding: 15px 0px;
    border-bottom: rgba(102,136,51,0.3) solid 1px;
}
.searchResult:nth-child(odd) {
    background-color: rgba(102,136,51,0.02);
}
.searchResult:nth-child(even) {
    background-color: rgba(102,136,51,0.06);
}
.searchResult:hover {
    background-color: rgba(102,136,51,0.1);
}
.searchResult .imageWrapper {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchResult .imageWrapper img {
    width: 64px;
    height: 64px;
    opacity: 0.25;
}

.searchResult .dataWrapper {
    font-weight: 300;
}

.searchResult h3 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
}
.searchResult h4 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}
.searchResult .dataWrapper .title {
    line-height: 21px;
}
.searchResult .dataWrapper .title span:first-child {
    font-weight: 500;
}
.searchResult .dataWrapper .creator {
}

.searchNoResultsWrapper {
    padding: 20px;
    text-align: center;
}

.searchAutocompleteTerm {
    font-weight: bold;
    color: #8e130b;
}


/* Pagination */
.paginator {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.paginator a, .paginator > span {
    padding: 5px;
}

.paginator .curPage {
}
.paginator .maxPage {
    color: #666;
    font-size: 13px;
}
.paginator .totalHits {
    color: #666;
    font-size: 13px;
    margin-left: 20px;
}
.paginator .took {
    color: #666;
    font-size: 13px;
}


/* Details */

/* Breadcrumbs */
.breadcrumbs {
    border: silver solid 1px;
    border-radius: 5px;
    padding: 4px 10px;
    margin-top: 10px;
}
.breadcrumbs span.sep {
    color: silver;
    font-size: 14px;
    padding: 2px;
}
.breadcrumbs a {
    font-size: 14px;
    font-weight: 500;
    color: #303030;
}

.detailsContent {
    display: flex;
    flex-direction: row;
}
.detailsContent .bigImageWrap {
    width: 250px;
    max-height: 350px;
    /* height: 350px; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: silver solid 1px;
    border-radius: 10px;
    padding: 10px;
}

.detailsContent .bigImageWrap > .img {
    width: 230px;
    /* height: 330px; */
}

.detailsContent .contentWrap {
    padding: 10px 10px 10px 30px;
    flex: 1;
}

.detailsContent .detailsDcTitle h3,
.detailsContent .detailsDcTitle h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.detailsContent .detailsDcField {
    line-height: 25px;
    margin-bottom: 3px;
}

.detailsContent .childrenWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
}
.detailsContent .childrenWrap > a {
    display: flex;
}
.detailsContent .childrenWrap .child {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    width: 220px;
    /*
    height: 200px;
    */
    align-items: center;
    border: silver solid 1px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}
.detailsContent .childrenWrap .child:hover {
    background-color: rgba(102,136,51,0.03);
    border: rgba(102,136,51,0.7) solid 1px;
}

.detailsContent .childrenWrap .child .childThumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 150px;
    padding: 0px 10px;
    margin-bottom: 5px;
    border: silver solid 1px;
}
.detailsContent .childrenWrap .child .childThumb img {
    width: 100px;
    opacity: 0.4;
}
.detailsContent .childrenWrap .child .childTitle h5 {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}
.detailsContent .childrenWrap .child .childDetails {
    text-align: center;
    line-height: 1.1;
}
.detailsContent .childrenWrap .child .childDetails .childCreators {
    font-size: 13px;
}
.detailsContent .childrenWrap .child .childDetails .childCreators span.sep {
    font-size: 13px;
    font-weight: 500;
    color: silver
}
.detailsContent .childrenWrap .child .childDetails .childCreators span.val {
    font-size: 13px;
}

/* Entity children */
.detailsContent .detailsChildren .childrenText {
    font-weight: bold;
    margin-top: 10px;
}
.detailsContent .detailsChildren ul {
    list-style: inside circle;
}



/* Files */
.fileList {
}
.fileList .fileDetails {
    display: flex;
    flex-direction: row;
    border-bottom: silver dashed 1px;
}
.fileList .fileDetails:last-child {
    border-bottom: none;
}

.fileList .fileDetails:hover {
    background-color: rgba(0,0,0,0.02);
}
.fileList .fileDetails img.fileThumb {
    max-width: 100px;
    max-height: 100px;
}
.fileList .fileDetails .fileContent {
    margin: 0px 15px;
}
.fileList .fileDetails pre {
    font-size: 12px;
    line-height: 14px;
    color: gray;
}
.fileList .fileDetails .fileDownload {
    margin-top: 0px;
    margin-left: 20px;
}

.fileDetails {
    margin-top: 10px;
}
.fileDetails .fileName {
    font-size: 14px;
    color: gray;
}
.fileDetails .fileName {
    font-size: 14px;
    color: gray;
}
.fileDetails .fileName .mime {
    color: #668833;
}
.fileDetails .created {
    font-size: 14px;
    color: gray;
}
.fileDetails .size {
    font-size: 14px;
    color: gray;
}
.fileDetails .checksum {
    font-size: 14px;
    color: gray;
}

.fileDetails .fileDownload {
    margin-top: 6px;
}

#accordionMets {
    padding: 10px;
}
#accordionMets a {
    margin: 10px 5px;
}

/* si4button */
.si4button {
    color: black;
    border: silver solid 1px;
    border-radius: 5px;
    padding: 4px 10px;
    margin-top: 10px;
    cursor: pointer;
    background: -moz-linear-gradient(top, rgba(102,136,51,0.2) 0%, rgba(109,0,25,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(102,136,51,0.2) 0%,rgba(109,0,25,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(102,136,51,0.2) 0%,rgba(109,0,25,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#338e130b', endColorstr='#006d0019',GradientType=0 ); /* IE6-9 */
}
.si4button:hover, .si4button:focus {
    color: black;
    border-color: rgba(102,136,51,1);
}

/* accordion */
.accordion {
    position: relative;
    border: silver solid 1px;
    border-radius: 5px;
    padding: 4px 10px;
    margin-top: 10px;
    cursor: pointer;
    background: -moz-linear-gradient(top, rgba(102,136,51,0.2) 0%, rgba(109,0,25,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(102,136,51,0.2) 0%,rgba(109,0,25,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(102,136,51,0.2) 0%,rgba(109,0,25,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#338e130b', endColorstr='#006d0019',GradientType=0 ); /* IE6-9 */
}
.accordion:hover {
    background: -moz-linear-gradient(top, rgba(102,136,51,0.3) 0%, rgba(109,0,25,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(102,136,51,0.3) 0%,rgba(109,0,25,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(102,136,51,0.3) 0%,rgba(109,0,25,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#448e130b', endColorstr='#006d0019',GradientType=0 ); /* IE6-9 */
}

.accordion:after {
    content: '';
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    background: transparent url(/img/expand.png) no-repeat right top;
    background-size: 12px 12px;
    transition: transform .25s ease-in-out;
}

.accordion[data-accordionopen=true]:after {
    transform-origin: 80% 20%;
    transform: rotate(180deg);
}
.accordion[data-accordionopen=false]:after {
    transform-origin: 80% 20%;
    transform: rotate(0deg);
}

.accordionContent {
    padding: 4px 10px;
}


/* Top menu */
.topMenuWrap {
    /*
    border-bottom: #668833 solid 1px;
    padding: 10px;
    background: #223311;
    */
}
.topMenuHolder {
    position: relative;
}
#topMenu {
    border: none;
    border-bottom: #668833 solid 1px;
}
#topMenu > li {
    display: inline-table;
}
#topMenu > li > div {
    padding: 5px 1.6em 5px 1em;
}

#topMenu .ui-widget.ui-widget-content {
    border: #668833 solid 1px;
}

#topMenu li.ui-menu-item {
}
#topMenu div.ui-menu-item-wrapper {
    white-space: nowrap;
}

#topMenu .ui-state-active {
    border-color: #668833;
    color: black;
    background: -moz-linear-gradient(top, rgba(102,136,51,0.2) 0%, rgba(109,0,25,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(102,136,51,0.2) 0%,rgba(109,0,25,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(102,136,51,0.2) 0%,rgba(109,0,25,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#338e130b', endColorstr='#006d0019',GradientType=0 ); /* IE6-9 */
}

#topMenu .ui-state-active .ui-icon {
    background-image: url(/images/vendor/jquery-ui-bundle/ui-icons_444444_256x240.png);
}

/* First level menu -> icon down instead of right */
#topMenu > li > div > span.ui-icon {
    background-position: -65px 0;
}


/* bottomMenu */
.bottomMenuWrap {
    margin-top: 20px;
    background: #ececec;
    border-top: #626262 solid 3px;
    padding-top: 20px;
    padding-bottom: 10px;
}
#bottomMenu, #bottomMenu ul {
    list-style: none;
    margin: 0;
}
#bottomMenu {
    display: flex;
    flex-direction: row;
}
#bottomMenu > li {
    max-width: 250px;
    flex: 1;
    padding-left: 20px;
}

#bottomMenu > li > a {
    font-size: 17px;
    font-weight: bold;
    color: #111;
}
#bottomMenu > li > a:hover {
    text-decoration: underline;
}

#bottomMenu > li > ul > li a {
    font-size: 17px;
    color: #444;
}
#bottomMenu > li > ul > li a:hover {
    text-decoration: underline;
}

.bottomMenuWrap .footerLogo {
    height: 120px;
    /*
    border: silver solid 1px;
    */
}

.bottomMenuWrap .footerText {

}
