
/* EntityDetails - hierarchy */

.entityHierarchyContainer { padding-left: 20px; padding-top: 10px; }
.entityHierarchyContainer .entityHierarchyRow { font-size: 14px; line-height: 22px; cursor: pointer; }

.entityHierarchyContainer .entityHierarchyRow.stCollection { color: #8e130b; }
.entityHierarchyContainer .entityHierarchyRow.stEntity { color: darkgoldenrod; }
.entityHierarchyContainer .entityHierarchyRow.stFile { color: darkgreen; }

.entityHierarchyContainer .entityHierarchyRow.parent {  }
.entityHierarchyContainer .entityHierarchyRow.current { font-weight: bold; }
.entityHierarchyContainer .entityHierarchyRow.child {  }

.entityHierarchyContainer .entityHierarchyRow .ehId { font-weight: normal; color: silver; }
.entityHierarchyContainer .entityHierarchyRow .ehTitle {  }
.entityHierarchyContainer .entityHierarchyRow .ehCreator {  }
.entityHierarchyContainer .entityHierarchyRow .ehDate { font-weight: normal; color: silver; }

/* FileDetails */
.filePreviewImg {
    max-width: 200px;
    max-height: 200px;
}
#pageHolder .fileInfoDiv { display: flex; flex-direction: row; align-items: flex-start; margin-top: 5px; }
#pageHolder .fileDownloadDiv { display: flex; flex-direction: row; align-items: center;
    cursor: pointer; margin: 8px; }
.fileDownloadDiv img { width: 32px; margin-right: 5px; }
.fileDownloadDiv span { color: #888; }
.fileDownloadDiv span:hover { color: #555; }

#pageHolder .filePreviewDiv { margin: 8px; border: silver dashed 1px; }
.filePreviewDiv img { max-width: 256px; max-height: 256px; }

#pageHolder .thumbPreviewDiv { margin: 8px; }
#pageHolder .thumbPreviewDiv > img {  border: silver solid 2px; max-width: 170px; max-height: 220px; }
