/* Colors */

div.mainTitle {
  color: #883333;
}

div.formTitle {
  color: #883333;
}

div.statusDiv {
  color: #883333;
}

div.errorDiv {
  color: #996666;
}

span.loginName {
  color: #883333;
}

.gradRed {
  background: #883333;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #883333 28%, #000222 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$mainColor", endColorstr="#000222",GradientType=0 );
  /* IE6-9 */
  color: white;
}

.gradRedH:hover {
  background: #883333;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #883333 28%, #000222 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$mainColor", endColorstr="#000222",GradientType=0 );
  /* IE6-9 */
}

.gradRedA:active {
  background: #883333;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #883333 28%, #000222 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$mainColor", endColorstr="#000222",GradientType=0 );
  /* IE6-9 */
}

.gradBrown {
  background: #6c4f4f;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6c4f4f 28%, #181921 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="desaturate($mainColor, 30%)", endColorstr="#181921",GradientType=0 );
  /* IE6-9 */
  color: white;
}

.gradBrownH:hover {
  background: #6c4f4f;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6c4f4f 28%, #181921 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="desaturate($mainColor, 30%)", endColorstr="#181921",GradientType=0 );
  /* IE6-9 */
}

.gradBrownA:active {
  background: #6c4f4f;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6c4f4f 28%, #181921 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="desaturate($mainColor, 30%)", endColorstr="#181921",GradientType=0 );
  /* IE6-9 */
}

.gradGray {
  background: #888888;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #888888 28%, #181921 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#888888", endColorstr="#181921",GradientType=0 );
  /* IE6-9 */
  color: white;
}

.gradGrayH:hover {
  background: #888888;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #888888 28%, #181921 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#888888", endColorstr="#181921",GradientType=0 );
  /* IE6-9 */
}

.gradGrayA:active {
  background: #888888;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #888888 28%, #181921 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#888888", endColorstr="#181921",GradientType=0 );
  /* IE6-9 */
}

