/* Colors */

#si4 {
  /* Search box */
  /* si4button */
  /* accordion */
}

#si4 .searchFormContainer {
  /*
  border-bottom: $mainColor solid 2px;
  border-left: $mainColor solid 1px;
  border-right: $mainColor solid 1px;
  */
}

#si4 .button {
  background-color: #883333;
  color: white;
}

#si4 .button:hover {
  background-color: #632525;
}

#si4 .entitySearchWrap.esrCards .searchResult .imageWrapper img {
  box-shadow: 1px 1px 10px -5px #836b6b;
}

#si4 .entitySearchWrap.esrCards .searchResult:hover .imageWrapper img {
  box-shadow: 1px 1px 10px -2px #836b6b;
}

#si4 .entitySearchWrap.esrTable .searchResult {
  border-bottom: rgba(136, 51, 51, 0.3) solid 1px;
}

#si4 .entitySearchWrap.esrTable .searchResult:nth-child(odd) {
  background-color: rgba(136, 51, 51, 0.02);
}

#si4 .entitySearchWrap.esrTable .searchResult:nth-child(even) {
  background-color: rgba(136, 51, 51, 0.06);
}

#si4 .entitySearchWrap.esrTable .searchResult:hover {
  background-color: rgba(136, 51, 51, 0.1);
}

#si4 .entitySearchWrap.esrTable .searchResult .dataWrapper .match {
  color: #006;
  background-color: #FF9;
}

#si4 .searchFormSubmitDropdown {
  border-left: #d04d47 solid 0.5px;
}

#si4 .searchAutocompleteTerm {
  color: #883333;
}

#si4 .detailsContent .childrenWrap .child:hover {
  background-color: rgba(136, 51, 51, 0.03);
  border: rgba(136, 51, 51, 0.7) solid 1px;
}

#si4 .fileDetails .fileName .mime {
  color: #883333;
}

#si4 .si4button {
  color: white;
  background: #BA1810;
  transition: background-color 300ms ease-out;
}

#si4 .si4button:hover,
#si4 .si4button:focus {
  color: white;
  background: black;
}

#si4 .accordion {
  background: #f4f4f4;
}

#si4 .accordion:hover {
  background: gainsboro;
}

#si4 #topMenu {
  border: none;
}

#si4 #topMenu .ui-widget.ui-widget-content {
  border: none;
  color: white;
  background: #333;
}

#si4 #topMenu .ui-state-active {
  background: #222;
  border: none;
  margin: 0;
  color: white;
}

#si4 .hc-nav-trigger span,
#si4 .hc-nav-trigger span::before,
#si4 .hc-nav-trigger span::after {
  background: white;
}

#si4 .hc-nav-trigger {
  zoom: 0.75;
}

#si4 .hc-offcanvas-nav li.nav-close a,
#si4 .hc-offcanvas-nav li.nav-back a {
  background: #333;
  border-color: #666;
}

#si4 .hc-offcanvas-nav .nav-container,
#si4 .hc-offcanvas-nav .nav-wrapper,
#si4 .hc-offcanvas-nav ul {
  background: #444;
  border-color: #666;
}

#si4 .hc-offcanvas-nav li.nav-close a:hover,
#si4 .hc-offcanvas-nav li.nav-back a:hover {
  background: #444;
  border-color: #666;
}

#si4 .hc-offcanvas-nav a,
#si4 .hc-offcanvas-nav .nav-item {
  border-color: #666;
}

