/* ***** Common ***** */
.mt-025 { margin-top: 0.25rem; }
.mt-05 { margin-top: 0.5rem; }
.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 2rem; }
.mt-3 { margin-top: 3rem; }

.mb-025 { margin-bottom: 0.25rem; }
.mb-05 { margin-bottom: 0.5rem; }
.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-3 { margin-bottom: 3rem; }

.pt-1 { padding-top: 1rem; }

.flex { display: flex; flex-direction: column; }
.flexRow { display: flex; flex-direction: row; }
.flexResponsive {
  display: flex;
  @media screen and (max-width: 64em) {
    flex-direction: column;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 64em) {
    flex-direction: row;
  }
}
.flexAlignStart { align-items: flex-start; }
.flexAlignCenter { align-items: center; }
.flexAlignEnd { align-items: flex-end; }
.flexJustifyCenter { justify-content: center; }
.flexBothCenter { align-items: center; justify-content: center; }
.flexBothEnd { align-items: flex-end; justify-content: flex-end; }
.flex1 { flex: 1; }
.flex2 { flex: 2; }
.flex3 { flex: 3; }
.flex4 { flex: 4; }
.flex5 { flex: 5; }
.flex6 { flex: 6; }
.flex7 { flex: 7; }
.flex8 { flex: 8; }
.flex9 { flex: 9; }
.flex10 { flex: 10; }
.flex11 { flex: 11; }
.flex12 { flex: 12; }

.textAlignRight { text-align: right; }

.displayNone { display: none; }

.default {
  font-size: 14px;
  font-weight: 500;
  color: #303030;
}
.default:hover {
  text-decoration: underline;
  color: #303030;
}

.button {
  padding: 10px 20px;
}

[type=text], [type=password], [type=date], [type=datetime],
[type=datetime-local], [type=month], [type=week], [type=email],
[type=number], [type=search], [type=tel], [type=time],
[type=url], [type=color], textarea, select {
  margin-bottom: 0.25rem;
}

/* Index */
.content {
  min-height: 400px;
}

/* ***** Language select ***** */
#langSelect {
  position: absolute;
  right: .9375rem;
  top: 0;
  bottom: 0;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}
#langSelect select {
  font-size: 13px;
  line-height: 20px;
  height: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #333;
  color: white;
  border: none;
  margin: 0;
}

/* ***** Search ***** */

.searchNoResultsWrapper {
  padding: 20px;
  text-align: center;
}

.searchAutocompleteTerm {
  font-weight: bold;
}

/* Search box */
.searchFormContainer {
  //padding: 5px 20px 10px 20px;
  //border-radius: 0px 0px 10px 10px;
  padding: 10px 20px 10px;
  border-radius: 0px;
  border: 0px;
  //background: #f5f5f5;

  & > .row {
    //display: flex;
    //align-items: center;
    //justify-content: center;
    text-align: center;
  }

  form { position: relative; }
  input.query { }
  input.submit {
    height: 39px;

    background-color: #BA1810;
    color: white;
    border-color: #ccc;
    transition: background-color 300ms ease-out;
    &:hover {
      background-color: #212121;
    }
  }

  .searchTypeSelect, .mobileSearchTabs {
    font-size: 0.8125rem;
  }

  .searchFormSubmit {
    height: 39px;
    width: 6rem;
    background-color: #BA1810;
    color: white;
    border-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 300ms ease-out;
    &:hover {
      background-color: #212121;
    }
    img {
      margin: 10px;
    }
  }
  .searchFormSubmitDropdown {
    position: relative;
    height: 39px;
    width: 3.5rem;
    background-color: #BA1810;
    color: white;
    //border-color: #ccc;
    border-left: silver;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 300ms ease-out;
    &:hover {
      background-color: #212121;
    }
  }
}

.searchFormContainer .searchTab {
  margin: 0;
  padding: 0.5rem 1.25rem;
  color: #222;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.8125rem;

  &:hover {
    background-color: #e1e1e1;
  }
  &.active {
    border-radius: 2px 2px 0px 0px;
    border: 1px solid #CCC;
    border-bottom: 0px;
    background-color: #EFEFEF;
  }
}

#searchSubMenu {
  position: absolute;
  background: white;
  border: silver solid 1px;
  display: block;
  right: 0;
  top: 40px;
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  white-space: nowrap;
}

/* Advanced search */
.advancedSearch {
  margin-top: 10px;
  margin-bottom: 10px;
}
.advancedSearch h4 {
  margin-top: 10px;
  font-size: 19px;
}

.advancedSearch select.fieldName {
  width: 30%;
}
.advancedSearch input.fieldValue {

}
.advancedSearch select.operator {
  width: 10%;
}

.advancedSearch .submit {
}

.advancedSearch .addInputButton {
  font-weight: bold;
  margin-right: 5px;
}

/* Collection search */
.collectionSearchIndicatorWrap {
}
.advCollectionSearchIndicatorWrap {
  margin-top: -45px;
}

input + #collectionSearchIndicator, input + #advCollectionSearchIndicator {
  margin: 0px 5px;
  line-height: 14px;
  font-size: 12px;
  padding-left: 2px;
  text-align: center;
  cursor: pointer;
  /*
  display: flex;
  align-items: center;
  justify-content: center;
  height: 39px;
  width: 120px;
  border-radius: 2px;
  border: silver solid 1px;
  background: rgba(102, 136, 51, 0.2);
  */
}
input:checked + #collectionSearchIndicator {
  /* border: white solid 1px; */
  /*
  background: #668833;
  color: white;
  */
}


/* Pagination */
.paginator {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.paginator a, .paginator > span {
  padding: 5px;
}

.paginator .curPage {
}
.paginator .maxPage {
  color: #666;
  font-size: 13px;
}
.paginator .totalHits {
  color: #666;
  font-size: 13px;
  margin-left: 20px;
}
.paginator .took {
  color: #666;
  font-size: 13px;
}


/* Details */

/* Breadcrumbs */
.breadcrumbs {
  border: gainsboro solid 1px;
  border-radius: 3px;
  padding: 4px 10px;
  margin: 10px 20px 1rem 20px;
  background: #f4f4f4;
  span.sep {
    color: silver;
    font-size: 14px;
    padding: 2px;
  }
  a {
    font-size: 14px;
    font-weight: 500;
    color: #303030;
    &:last-child {
      //color: #8e130b;
    }
    .breadcrumbsIcon {
      height: 16px;
      margin: -4px 6px 0 0;
    }
  }
}

.newVersion, .removedTo {
  border: 1px solid #BA1810;
  border-radius: 3px;
  padding: 4px 10px;
  margin: 10px 20px 1rem;
  background: #f4f4f4;
  a {
    color: #8e130b;
    &:hover {
      text-decoration: underline;
    }
  }
}

.detailsContent.entity, .detailsContent.file {
  padding: 4px 10px;
  margin: 10px 20px 1rem;
  display: flex;
  flex-direction: row;
}

.description {
  padding: 4px 10px;
  margin: 10px 20px 1rem;
}

.detailsContent .bigImageWrap {
  width: 250px;
  max-height: 350px;
  /* height: 350px; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border: silver solid 1px;
  border-radius: 10px;
  padding: 10px;
}

.detailsContent .bigImageWrap > .img {
  width: 230px;
  /* height: 330px; */
}

.detailsContent .contentWrap {
  padding: 0px 10px 10px 30px;
  flex: 1;
}

.detailsContent .detailsDcTitle h3,
.detailsContent .detailsDcTitle h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.detailsContent .detailsDcField {
  line-height: 25px;
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;

  .fieldKey {
    width: 150px;
  }
  .fieldValue {
    flex: 1;
  }
}
.detailsContent .detailsDcField.detailsDcTitle {
  flex-direction: column;
  margin-bottom: 20px;
}

.detailsContent .detailsChildren {
  ul {
    list-style: disc inside;
  }
  .childrenText {
    font-weight: 500;
    margin-top: 20px;
  }
}





/* Files */
.fileList {
}
.fileList .fileDetails {
  display: flex;
  flex-direction: row;
  border-bottom: silver dashed 1px;
}
.fileList .fileDetails:last-child {
  border-bottom: none;
}

.fileList .fileDetails:hover {
  background-color: rgba(0,0,0,0.02);
}
.fileList .fileDetails img.fileThumb {
  max-width: 100px;
  //max-height: 100px;
}
.fileList .fileDetails .fileContent {
  margin: 0px 15px;
  min-width: 320px;
}
.fileList .fileDetails pre {
  font-size: 12px;
  line-height: 14px;
  color: gray;
}
.fileList .fileDetails .fileDownload {
  /*
  margin-bottom: 15px;
  margin-left: 20px;
  margin-top: 10px;
  */
}

.fileDetails {
  padding: 10px 0px;
}
.fileDetails .fileName {
  font-size: 14px;
  color: gray;
}
.fileDetails .fileName {
  font-size: 14px;
  color: gray;
}
.fileDetails .fileName .mime {
}
.fileDetails .created {
  font-size: 14px;
  color: gray;
}
.fileDetails .size {
  font-size: 14px;
  color: gray;
}
.fileDetails .checksum {
  font-size: 14px;
  color: gray;
}
.fileDetails .desc {
  font-size: 12px;
  color: gray;
}

.fileDetails .fileDownload {
  margin-top: 6px;
}

/*
.detailsContent.entity {
}
.detailsContent.file {
}
*/

#accordionMets {
  padding: 15px 10px;
}
#accordionMets a {
  margin: 10px 5px;
}

/* si4button */
.si4button {
  //border-radius: 5px;
  padding: 8px 20px;
  margin-top: 10px;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 45px;
  font-size: 14px;
}
.si4button:hover, .si4button:focus {
}

/* accordion */
.accordionWrap {
  margin-top: 15px;
  border-radius: 5px;
  //border: silver solid 1px;
}

.accordion {
  position: relative;
  padding: 4px 10px;
  cursor: pointer;
  //line-height: 2.2rem;
}

.accordion:hover {
}

.accordion:after {
  content: '';
  position: absolute;
  right: 0.75rem;
  top: 0.6rem;
  width: 32px;
  height: 32px;
  background: transparent url(/img/expand.png) no-repeat right top;
  background-size: 12px 12px;
  transition: transform .25s ease-in-out;
}

.accordion[data-accordionopen=true]:after {
  transform-origin: 80% 20%;
  transform: rotate(180deg);
}
.accordion[data-accordionopen=false]:after {
  transform-origin: 80% 20%;
  transform: rotate(0deg);
}

.accordionContent {
  padding: 5px 10px;
}
.accordionContent.fileList {
  padding: 0px;
}


/* Top menu */
.topMenuWrap {
  //border-bottom: #668833 solid 1px;
  //padding: 10px;
  background: #333333;

  .topMenu {
    display: none;
    @media screen and (min-width: 980px) {
      display: block;
    }
  }
  .topMenuMobile {
    display: none;
  }
  .topMenuMobile + .hc-nav-trigger {
    display: none;
    @media screen and (max-width: 979px) {
      display: block;
    }
  }


  .topMenuHolder {
    position: relative;
    min-height: 46px;
  }
  #topMenu {
    border: none;
    //border-bottom: silver solid 1px;
    border-bottom: 1px solid #888888;
    min-height: 36px; /* Let space for language select when no topMenu items */

    color: white;
    background: unset;
    font-size: 0.8125rem;

    & > li {
      display: inline-table;
      & > div {
        padding: 5px 1.6em 5px 1em;
        & > span.ui-icon {
          background-position: -65px 0;
        }
      }
    }

    & .ui-widget.ui-widget-content {
      border: silver solid 1px;
    }

    li.ui-menu-item {
      line-height: 2.25rem;
    }
    div.ui-menu-item-wrapper {
      white-space: nowrap;
    }

    .ui-icon {
      background-image: url(/images/vendor/jquery-ui-bundle/ui-icons_ffffff_256x240.png);
      //background-image: url(/images/vendor/jquery-ui-bundle/ui-icons_444444_256x240.png);
    }
    .ui-state-active {
    }

    /* First level menu -> icon down instead of right */
  }
}

/* bottomMenu */
.bottomMenuWrap {
  margin-top: 20px;
  background: #ececec;
  border-top: #626262 solid 3px;
  padding-top: 20px;
  padding-bottom: 10px;
}
#bottomMenu, #bottomMenu ul {
  list-style: none;
  margin: 0;
}
#bottomMenu {
  display: flex;
  flex-direction: row;
}
#bottomMenu > li {
  max-width: 250px;
  flex: 1;
  padding-left: 20px;
}

#bottomMenu > li > a {
  font-size: 17px;
  font-weight: bold;
  color: #111;
}
#bottomMenu > li > a:hover {
  text-decoration: underline;
}

#bottomMenu > li > ul > li a {
  font-size: 17px;
  color: #444;
}
#bottomMenu > li > ul > li a:hover {
  text-decoration: underline;
}

.bottomMenuWrap .footerLogo {
  height: 120px;
  /*
  border: silver solid 1px;
  */
}

.bottomMenuWrap .footerText {
  font-size: 12px;
}

.bottomMenuWrap .footerBorder {
  border-top: #ddd solid 1px;
}
































// entitySearchResults
.entitySearchWrap {

  // searchResult style card
  &.esrCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    .searchResult {
      margin: 15px;
      //box-shadow: 2px 2px 3px 1px #aaa;
      &:hover {
        //box-shadow: 2px 2px 6px 2px #999;
      }
      & > a {
        display: flex;
        flex-direction: column;
        padding: 10px 5px;
        width: 250px;
        height: 260px;
        align-items: center;
        border: silver solid 0px;
        border-radius: 5px;
        cursor: pointer;
        color: black;

        .imageWrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 180px;
          height: 220px;
          padding: 0px 10px;
          margin-bottom: 8px;
          margin-top: 4px;
          //border: silver solid 1px;
          img {
            max-width: 164px;
            max-height: 220px;
            min-width: 164px;
            opacity: 0.6;
            border-radius: 10px;
          }
        }

        .dataWrapper {
          &.basic {
            h5 {
              font-size: 13px;
              font-weight: 500;
              line-height: 1.2;
              text-align: center;
            }
          }
          &.additional {
            .childCreators {
              max-height: 43px;
              font-size: 12px;
              font-weight: 400;
              line-height: 1.2;
              overflow: hidden;
            }
          }
        }
      }
      &:hover .imageWrapper img {
        opacity: 0.8;
      }
    }

    .searchResult.collection {
      .imageWrapper {
        position: relative;
        &:before {
          position: absolute;
          //border: red solid 1px;
          content: "";
          width: 20px;
          height: 154px;
          top: 20px;
          right: -11px;
          //background-image: url(/img/structType/collection_tab.png);
          background-size: 20px 154px;
          background-repeat: no-repeat;
          background-position: -5px;
          transition: background-position 0.2s;
        }
      }
    }
    .searchResult.collection:hover {
      .imageWrapper {
        &:before {
          background-position: -2px;
        }
      }
    }
  }

  // searchResult style row
  &.esrTable {
    .searchResult {
      padding: 15px 0px;
      & > a {
        color: black;
        display: flex;
        flex-direction: row;
        .imageWrapper {
          width: 90px;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          img {
            //width: 64px;
            height: 64px;
            opacity: 0.5;
          }
        }
      }
      .dataWrapper {
        font-weight: 300;
        &.basic {
          .value {
            width: 200px;
            word-break: break-word;
          }
          .title {
            line-height: 21px;
            font-weight: 500;
          }
        }
        &.fullTextHits {
          margin-left: 20px;
          .match {
          }
          .moreHits {
            transition: height 0.6s;
          }
          .toggleMoreHits {
            padding: 10px;
            margin: 5px 0;
            cursor: pointer;
            color: #3366cc;
          }
        }
      }
    }
  }
}

.childPagination {
  text-align: center;
  margin: 40px 0 10px 0;
  a.pagLink, span.pagLink {
    padding: 5px 10px;
    margin: 5px 2px;
  }
  span.pagLink {
    cursor: default;
  }
  span.currentPage {
    font-weight: bold;
  }

}

.resultsInfo {
  float: right;
  text-align: right;
  margin-right: 12px;
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .btn {
      border-radius: 5px;
      //border: silver solid 1px;
      //box-shadow: silver 0 0 1px;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2px;
      img {
        margin: 6px;
        width: 20px;
        opacity: 0.5;
      }
    }
    .btn.active {
      img {
        opacity: 0.8;
      }
    }
    .btn:hover {
      box-shadow: silver 0 0 2px;
      img {
        opacity: 0.8;
      }
    }
  }
  .infoText1 {
    color: #888;
    font-size: 12px;
  }
  .infoText2 {
    color: #c9c9c9;
    font-size: 12px;
  }
}


/*
  .detailsContent .childrenWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
  }
  .detailsContent .childrenWrap > a {
    display: flex;
  }
  .detailsContent .childrenWrap .child {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    width: 220px;
    align-items: center;
    border: silver solid 1px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
  }
  .detailsContent .childrenWrap .child:hover {
  }

  .detailsContent .childrenWrap .child .childThumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 150px;
    padding: 0px 10px;
    margin-bottom: 5px;
    border: silver solid 1px;
  }
  .detailsContent .childrenWrap .child .childThumb img {
    width: 100px;
    opacity: 0.4;
  }
  .detailsContent .childrenWrap .child .childTitle h5 {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
  }
  .detailsContent .childrenWrap .child .childDetails {
    text-align: center;
    line-height: 1.1;
  }
  .detailsContent .childrenWrap .child .childDetails .childCreators {
    font-size: 13px;
  }
  .detailsContent .childrenWrap .child .childDetails .childCreators span.sep {
    font-size: 13px;
    font-weight: 500;
    color: silver
  }
  .detailsContent .childrenWrap .child .childDetails .childCreators span.val {
    font-size: 13px;
  }

/* Entity children */
/*
.detailsContent .detailsChildren .childrenText {
  font-weight: bold;
  margin-top: 10px;
}
.detailsContent .detailsChildren ul {
  list-style: inside circle;
}

/*
.entitySearchWrap.row {

}

.searchResult {
  // searchResult.row
  &.row {

  }

  // searchResult.card
  &.card {
    display: flex;
    flex-direction: row;
    padding: 15px 0px;

  }

}
*/










/* Search results */
/*
.searchResults {
  margin-top: 15px;
}
.searchResults a {
  color: black;
}
.searchResult a {
  display: flex;
  flex-direction: row;
  padding: 15px 0px;
  //border-bottom: rgba(102,136,51,0.3) solid 1px;
}
.searchResult:nth-child(odd) {
  //background-color: rgba(102,136,51,0.02);
}
.searchResult:nth-child(even) {
  //background-color: rgba(102,136,51,0.06);
}
.searchResult:hover {
  //background-color: rgba(102,136,51,0.1);
}
.searchResult .imageWrapper {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchResult .imageWrapper img {
  width: 64px;
  height: 64px;
  opacity: 0.25;
}

.searchResult .dataWrapper {
  font-weight: 300;
}

.searchResult h3 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}
.searchResult h4 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}
.searchResult .dataWrapper .title {
  line-height: 21px;
}
/*
.searchResult .dataWrapper .title span:first-child {
    font-weight: 500;
}
*/
/*
.searchResult .dataWrapper .creator {
}
.searchResult .dataWrapper .fullTextHits {
  margin-left: 10px;
}
.searchResult .dataWrapper .match {
}

*/