/* Colors */

#si4 {
  /* Search box */
  /* si4button */
  /* accordion */
}

#si4 .defLink {
  color: #668833;
}

#si4 .searchFormContainer {
  /*
  border-bottom: $mainColor solid 2px;
  border-left: $mainColor solid 1px;
  border-right: $mainColor solid 1px;
  */
}

#si4 .button {
  background-color: #668833;
  color: white;
}

#si4 .button:hover {
  background-color: #4a6325;
}

#si4 .entitySearchWrap.esrCards .searchResult .imageWrapper img {
  box-shadow: 1px 1px 10px -5px #79836b;
}

#si4 .entitySearchWrap.esrCards .searchResult:hover .imageWrapper img {
  box-shadow: 1px 1px 10px -2px #79836b;
}

#si4 .entitySearchWrap.esrTable .searchResult {
  border-bottom: rgba(102, 136, 51, 0.3) solid 1px;
}

#si4 .entitySearchWrap.esrTable .searchResult:nth-child(odd) {
  background-color: rgba(102, 136, 51, 0.02);
}

#si4 .entitySearchWrap.esrTable .searchResult:nth-child(even) {
  background-color: rgba(102, 136, 51, 0.06);
}

#si4 .entitySearchWrap.esrTable .searchResult:hover {
  background-color: rgba(102, 136, 51, 0.1);
}

#si4 .entitySearchWrap.esrTable .searchResult .dataWrapper .match {
  color: #006;
  background-color: #FF9;
}

#si4 .searchFormSubmitDropdown {
  border-left: #96ad74 solid 1px;
}

#si4 .searchAutocompleteTerm {
  color: #668833;
}

#si4 .detailsContent .childrenWrap .child:hover {
  background-color: rgba(102, 136, 51, 0.03);
  border: rgba(102, 136, 51, 0.7) solid 1px;
}

#si4 .fileDetails .fileName .mime {
  color: #668833;
}

#si4 .si4button {
  color: #668833;
  border: #668833 solid 2px;
  border-radius: 5px;
  font-weight: bold;
}

#si4 .si4button:hover,
#si4 .si4button:focus {
  background: #668833;
  color: white;
}

#si4 .accordion {
  border: silver solid 1px;
  background: #dcdcdc;
  border-radius: 3px;
}

#si4 .accordion:hover {
  background: #e8e8e8;
}

#si4 #topMenu {
  border: none;
}

#si4 #topMenu .ui-widget.ui-widget-content {
  border: none;
  color: white;
  background: #333;
}

#si4 #topMenu .ui-state-active {
  background: #222;
  border: none;
  margin: 0;
  border-color: #668833;
  color: white;
}

#si4 .hc-nav-trigger span,
#si4 .hc-nav-trigger span::before,
#si4 .hc-nav-trigger span::after {
  background: white;
}

#si4 .hc-nav-trigger {
  zoom: 0.75;
}

#si4 .hc-offcanvas-nav li.nav-close a,
#si4 .hc-offcanvas-nav li.nav-back a {
  background: #333;
  border-color: #666;
}

#si4 .hc-offcanvas-nav .nav-container,
#si4 .hc-offcanvas-nav .nav-wrapper,
#si4 .hc-offcanvas-nav ul {
  background: #444;
  border-color: #666;
}

#si4 .hc-offcanvas-nav li.nav-close a:hover,
#si4 .hc-offcanvas-nav li.nav-back a:hover {
  background: #444;
  border-color: #666;
}

#si4 .hc-offcanvas-nav a,
#si4 .hc-offcanvas-nav .nav-item {
  border-color: #666;
}

#si4 .breadcrumbs a {
  color: #303030;
}

#si4 .breadcrumbs a:last-child {
  color: #668833;
}

#si4 .newVersion,
#si4 .removedTo {
  border: 1px solid #668833;
  background: #f4f4f4;
}

#si4 .newVersion a,
#si4 .removedTo a {
  color: #668833;
}

#si4 .newVersion a:hover,
#si4 .removedTo a:hover {
  text-decoration: underline;
}

#si4 .searchFormContainer input.submit {
  background-color: #668833;
  color: white;
  border-color: #ccc;
}

#si4 .searchFormContainer input.submit:hover {
  background-color: #4a6325;
}

#si4 .searchFormContainer .searchFormSubmit {
  background-color: #668833;
  color: white;
  border-color: #ccc;
}

#si4 .searchFormContainer .searchFormSubmit:hover {
  background-color: #4a6325;
}

#si4 .searchFormContainer .searchFormSubmitDropdown {
  background-color: #668833;
  color: white;
  border-left-color: #9bc35e;
}

#si4 .searchFormContainer .searchFormSubmitDropdown:hover {
  background-color: #4a6325;
}

#si4 .childPagination span.pagLink {
  color: silver;
}

#si4 .childPagination a.pagLink {
  color: #668833;
}

#si4 .childPagination span.currentPage {
  background-color: #668833;
  color: white;
}

